{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 4],
    "quotes": ["error", "double"],
    "require-jsdoc": 0
  },
  "extends": ["eslint:recommended", "google"]
}
